@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Merriweather:400,700,900,300italic,400italic,700italic,900italic,300|Lato:400,100italic,100,300,700,900,300italic,400italic,700italic,900italic);
body
{
	margin:0;
	padding:0;
}
.main
{
	width:100%;
	float:left;
}
.top_bar
{
	background:#422335;
	float:left;
	width:100%;
}
.member
{
	float:right;
	
}
.member a
{
	color:#8bc38c;
	font-weight:bold;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	padding:10px;
}
.arrow_top_bar
{
	position:absolute;
	float:left;
	top:-38px;
	z-index:99;
	left:-34px;
}
.top_nav
{
	width:100%;
	background:#fff;
	float:left;
	 box-shadow: 1px 3px 7px #D0CFCF;
	 padding:15px;
	 position:relative;
}
.logo
{
	float:left;
	width:100%;
	padding:10px;
}
.nav_bar_top
{
	float:left;
}
.nav_bar_top ul
{
	float:left;
	list-style:none;
	margin:0;
}
.nav_bar_top li
{
	display:inline-block;
}
.nav_bar_top li a
{
	padding:10px;
	color:#422335;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	
}
.nav_bar_top li a:hover
{
	padding:10px;
	text-decoration:underline;
	font-size:14px;
	background:none;
}
.search
{
	float:right;
}
.banner
{
	float:left;
	width:100%;
	margin-top:40px;
}
.banner_slider_sec
{
	float:left;
	width:100%;
	padding:0;
	position:relative;
}
.banner_img
{

	background: rgba(0, 0, 0, 0) url("../images/banner_img.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    width:58%;
    z-index: 999;
}
.slider_sec
{
	float:left;
}
.banner_img h6
{
	position:absolute;
	bottom:220px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	margin-left:15px;
	
	line-height:10px;
	border-bottom:3px solid #fff;
	line-height:20px;
}
.banner_img p
{
	bottom: 100px;
    color: #94d396;
   font-family: 'Libre Baskerville', serif;
    font-size: 23px;
    font-weight: bold;
    padding-left: 15px;
    position: absolute;
    width: 59%;
}
.sub_p p
{
	color:#fff;
	font-size:17px;
	font-weight:normal;
	bottom:13px;
	width:80%;
	font-family: 'Lato', sans-serif;
	line-height:24px;
}
.forum
{
	background:#fff;
}
.article
{
	float:left;
	width:100%;
	margin-top:40px;

	
}
.article h1
{
	width:100%;
	color:#7e566b;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	border-bottom:3px solid #7e566b;
	padding-bottom:10px;
	font-weight:bold;
}
.fashion h6
{
color:#94d396;
font-family: 'Lato', sans-serif;
border-bottom:5px solid #94d396;
width:53px;
padding-bottom:5px;
margin-bottom:0px;
}
.fashion
{
	 float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    width: 48%;

}
.fashion h2
{
	color:#422335;
	font-family: 'Libre Baskerville', serif;
	font-size:24px;
}
.fashion h3
{
	color:#8e8e8e;
	font-size:10px;
	font-family: 'Lato', sans-serif;
}
.fashion p
{
	color:#4b4b4b;
	font-size:17px;
	font-family: 'Lato', sans-serif;
	line-height:24px;
	
}
.fashion_sec_three
{
	float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    width: 32%;
}
.fashion_sec_three h6
{
color:#94d396;
font-family: 'Lato', sans-serif;
border-bottom:5px solid #94d396;
width:53px;
padding-bottom:5px;
margin-bottom:0px;
}
.fashion_sec_three h2
{
	color:#422335;
	font-family: 'Libre Baskerville', serif;
	font-size:20px;
	line-height:25px;
}
.fashion_sec_three h3
{
	color:#8e8e8e;
	font-size:15px;
	font-family: 'Lato', sans-serif;
}
.fashion_sec_three p
{
	color:#4b4b4b;
	font-size:15px;
	font-family: 'Lato', sans-serif;
	
}
.keep
{
	width:100%;
	float:right;
	background:#f9f9f9;
	margin-top:40px;
	text-align:center;
	box-shadow: 1px 3px 7px #d0cfcf;
}
.keep h1
{
	font-family: 'Libre Baskerville', serif;
	font-size:25px;
	color:#422335;
	margin-bottom:20px;
}
.keep p
{
	width:70%;
	margin:auto;
	color:#4b4b4b;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	margin-bottom:40px;
}
.keep input
{
	background:#fff;
	border:1px solid #4f4f4f;
	padding:5px;
	margin-bottom:25px;
	color:#999999;
	font-family: 'Merriweather', serif;
	font-style:italic;
	
}
.send
{
	width:70%;
	margin:auto;
}
.send input[type=button]
{
	background:#422335;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-style:normal;
	font-size:11px;
	padding:8px;
	padding-left:17px;
	padding-right:17px;
	float:right;
	font-weight:bold;
	
}
.events
{
	width:100%;
	float:right;
	background:#f9f9f9;
	margin-top:25px;
	text-align:center;
	box-shadow: 1px 3px 7px #d0cfcf;
}
.events h1
{
	font-family: 'Libre Baskerville', serif;
	font-size:25px;
	color:#422335;
	margin-bottom:20px;
}
.events h6
{
 border-bottom: 5px solid #94d396;
    color: #94d396;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    padding-bottom: 5px;
    width:37%;
}
.events_sec
{
	width:70%;
	margin:auto;
}
.events_sec p
{
	text-align:left;
	font-family: 'Libre Baskerville', serif;
	font-size:18px;
	margin-top:10px;
	color:#422335;
}
.member_right
{
	width:100%;
	float:right;
	background:#f9f9f9;
	margin-top:25px;
	text-align:center;
	box-shadow: 1px 3px 7px #d0cfcf;
}
.member_sec_right
{
	width:70%;
	margin:auto;
	margin-bottom:20px;
}
.member_sec_right h1
{
	font-family: 'Libre Baskerville', serif;
	font-size:23px;
	color:#422335;
	margin-bottom:20px;
}
.member_sec_right ul
{
	display:inline-block;
	list-style:none;
	padding:0;
}
.member_sec_right li
{
	display:inline-block;
	margin-bottom:6px;
}
.member_sec_right li a
{
	padding:1px;
	
}
.author
{
	width:100%;
	float:right;
	background:#f9f9f9;
	margin-top:25px;
	text-align:center;
	box-shadow: 1px 3px 7px #d0cfcf;
}
.author_sec
{
	width:70%;
	margin:auto;
}
.author_sec h1
{
	font-family: 'Libre Baskerville', serif;
	font-size:25px;
	color:#422335;
	margin-bottom:20px;
	text-align:left;
}
.author_sec h6
{
 border-bottom: 5px solid #94d396;
    color: #94d396;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    padding-bottom: 5px;
    width:68%;
}
.author_sec h2
{
	
	font-size:14px;
	color:#422335;
	font-family: 'Libre Baskerville', serif;
	text-align:left;
	margin-bottom:0px;
	line-height:18px;
}
.author_sec h5
{
	color:#8e8e8e;
	font-size:12px;
	font-family: 'Lato', sans-serif;
	text-align:left;
	margin-top:2px;
	
}

.nav_bar_top .navbar-toggle
{
	background:#422335;
	
	margin:0;
}
.nav_bar_top .navbar-toggle .icon-bar
{
	background:#fff;
}
.events span h6 
{
	width:23%;
}
.fashion_sec_three span h6 
{
	width:26%;
}
.input_search_top
{
	float:right;
	position:absolute;
	right:0;
	border-left:1px solid #ebebeb;
	height:100%;
	top:0;
	padding-left:6px;
}
.input_search_top input
{
	border:none;
	background:url(../images/search.png) left center;
	background-repeat:no-repeat;
	height:100%;
	color:#c4c4c4;
	font-size:13px;
	font-style:italic;
	padding-left:27px;
	 font-family: 'Lato', sans-serif;
}
.top_position
{
	position:relative;
	
}
.detail_heading
{
	float:left;
	width:100%;
}
.detail_heading h1
{
	font-family: 'Libre Baskerville', serif;
	font-weight:bold;
	font-size:36px;
	color:#422335;
}
.detail_heading h6
{
	color:#422335;
	font-size:10px;
	font-family: 'Lato', sans-serif;
	margin-top:40px;
	margin-bottom:40px;
	font-weight:900;
	text-transform:uppercase;
}
.detail_heading h6 span
{
	color:#8d8e8d;
	text-transform:lowercase;
}
.detail_heading h5
{
	 border-bottom: 5px solid #94d396;
    color: #94d396;
    font-family: "Lato",sans-serif;
    margin-bottom: 0;
    padding-bottom: 5px;
    width:5%;
	font-size:10px;
}
.detail_heading p
{
	font-size:18px;
	font-family: 'Libre Baskerville', serif;
	color:#422335;
	margin-top:18px;
	margin-bottom:27px;
}
.detail_banner
{
	float:left;
	width:100%;
	
}
.detail_banner img
{
	border-bottom:5px solid #94d396;
}
.detail_banner p
{
	font-size:12px;
	color:#8f8f8f;
	margin-top:5px;
}
.post
{
	float:left;
	width:100%;
}
.post h1
{
	  font-family: "Lato",sans-serif;
	  color:#7e566b;
	  font-size:18px;
	  border-bottom:4px solid #7e566b;
	  padding-bottom:12px;
	  font-weight:bold;
}
.post h1 span
{
	color:#422335;
}
.comment_sec
{
	width:100%;
	float:left;
	border-bottom:1px solid #7e566b;
	margin-top:54px;
}
.comment_img_sec
{
	float:left;
	width:10%;
}
.comment_detail_sec
{
	width:90%;
	float:right;
}
.comment_detail_sec h1
{
	color:#422335;
	font-size:18px;
	font-family: "Lato",sans-serif;
	border-bottom:none;
	margin-top:0;
	font-weight:bold;
}
.tag_sec
{
	float:left;
	width:100%;
}
.tag_sec a
{
	background:#94d396;
	color:#fff;
	font-size:10px;
	padding:5px;
	font-family: "Lato",sans-serif;
	font-weight:bold;
}
.comment_sec p
{
	font-size:17px;
	color:#4b4b4b;
		font-family: "Lato",sans-serif;
		margin-top:18px;
		float:left;
		margin-bottom:38px;
}
.comment_dec_sub
{
	float:left;
	width:100%;
}
.comment_sec .date
{
	color:#422335;
	font-size:10px;
	font-family: "Lato",sans-serif;
	float:left;
	margin-top:0;
}
.comment_sec .date span
{
	color:#8d8e8d;
}
.comment_reply
{
	float:right;
}
.comment_reply a
{
	background:#422335;
	color:#fff;
	font-size:10px;
	font-family: "Lato",sans-serif;
	padding:10px;
	font-weight:bold;
	display:inline-block;
}
.main_comment_sec
{
	float:left;
	width:100%;
}
.reply_sec
{
	width:90%;
	float:right;
}
.new_new_comment
{
	float:left;
	width:100%;
}
.new_new_comment h1
{
	color:#7e566b;
	font-size:18px;
	font-family: "Lato",sans-serif;
	margin-top:53px;
	font-weight:bold;
}
.add_to_ntebook
{
	float:left;
}
.add_to_ntebook a
{
	padding:10px;
	background:#94d396;
	color:#fff;
	font-family: "Lato",sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	float:left;
	margin-top:64px;
	margin-bottom:155px;
}
.add_to_ntebook a:hover
{
	text-decoration:none;
}
.font_style a
{
	background:#94d396;
	 padding: 7px 10px;
	color:#fff;
	height:22px;
	width:22px;
	font-family: "Lato",sans-serif;
	margin-right:5px;
}
.text_area textarea
{
	width:100%;
	margin-top:10px;
	height:200px;
	border:1px solid #acacac;
}
.new_new_comment .comment_reply a
{
	margin-top:35px;
}
.detail_page_text
{
	float:left;
	width:50%;
}
.detail_page_text .author_sec h6
{
	width:30%;
}
.story
{
	float:left;
}
.story h2
{
	font-size:18px;
	line-height:22px;
	margin-bottom:10px;
}
.story h5
{
	margin-bottom:34px;
}
.latest
{
	background: #f9f9f9 none repeat scroll 0 0;
    box-shadow: 1px 3px 7px #d0cfcf;
    float: right;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}
.latest_sec
{
	margin: auto;
    width: 70%;
}
.latest_sec h1
{
	color: #422335;
    font-family: "Libre Baskerville",serif;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
}
.latest_sec h6
{
	border-bottom: 5px solid #94d396;
    color: #94d396;
    font-family: "Lato",sans-serif;
    margin-bottom: 0;
    padding-bottom: 5px;
    width: 68%;
}
.latest_sec h2
{
	color:#422335;
	font-size:18px;
	font-family: "Libre Baskerville",serif;
	width:100%;
	font-weight:normal;
	float:left;
	text-align:left;
	line-height:23px;
}
.latest_sec h2 span
{
	color:#8e8e8e;
	font-size:10px;
	font-family: "Lato",sans-serif;
	font-weight:normal;
}
.latest_sec h3
{
	color:#422335;
	font-size:12px;
	font-family: "Lato",sans-serif;
	width:100%;
	font-weight:bold;
	float:left;
	text-align:left;
	margin-top:0;
}
.latest_sec h3 span
{
	color:#8e8e8e;
	font-size:10px;
	font-family: "Lato",sans-serif;
	font-weight:normal;
	padding-right:2px;
}
.latest_sec p
{
	color:#4b4b4b;
	font-size:14px;
	font-family: "Lato",sans-serif;
	font-weight:normal;
	text-align:left;
	float:left;
}
.category
{
	float:left;
	width:100%;
}
.category h1
{
font-family: "Libre Baskerville",serif;
font-size:36px;
color:#422335;
font-weight:bold;
margin-top:57px;	
}
.banner.category_sec_margin
{
	margin-top:26px;
}
.log_in_pop_up
{

}
.log_in_pop_up.modal-dialog
{
	width:304px;
}
.log_in_pop_up_sub
{
	width:242px;
	margin:auto;
}
.login_sec
{
	float:left;
	width:100%;
}
.log_in_pop_up_sub .modal-header
{
	border:none;
}
.log_in_pop_up_sub .modal-footer
{
	border:none;
}
.log_in_pop_up_sub h4
{
	color:#422335;
	font-size:24px;
	font-family: "Libre Baskerville",serif;
	margin-top:10px;
	
}
.login_sec input
{
	width:100%;
	border:1px solid #474747;
	padding:7px;
	color:#c4c4c4;
	font-family: "Lato",sans-serif;
	font-style:italic;
	margin-bottom:30px;
}
.log_in_sen
{
	background:#94d396;
	border:none;
	color:#422335;
	font-family: "Lato",sans-serif;
	font-size:14px;
	border-radius:0;
}
.log_in_sen:hover
{
	background:#94d396;
}
.log_in_pop_up_sub .signup_fb a
{
	color:#94d396;
	float:left;
	font-size:10px;
	font-family: "Lato",sans-serif;
	width:100%;
	text-align:left;
	font-weight:bold;
}
.signup_fb
{
	float:left;
	width:100%;
}
.fade.in
{
	background:rgba(66,35,53,0.5);
}
.author_sec_sub
{
	float:left;
	width:100%;
}
.author_sec_sub1
{
	float:left;
	width:100%;
}
.author_sec_sub2
{
	float:left;
	width:100%;
}
/*-----search page-------*/
.category h1 span
{
	color:#7e566b;
}
.category.search
{
	border-bottom:3px solid #422335;
	width:74%;
}
.category.search ul
{
	float:right;
}
.category.search li
{
	display:inline-block;
	padding-left:3px;
	padding-right:3px;
}
.category.search li a
{
	font-size:10px;
	font-family: "Lato",sans-serif;
	color:#422335;
	
}
.category.search li a:hover
{
	color:#8a9a85;
	text-decoration:none;
}
.search_result
{
	float:left;
	margin-top:30px;
	width:100%;
}
.search_result_img
{
	float:left;
}
.search_result_text
{
	float:left;
	margin-left:10px;
	width:90%;
}
.search_result_text h1
{
	margin-top:0;
	font-size:18px;
	color:#422335;
	font-family: "Lato",sans-serif;
	width:100%;
}
.search_result_text a
{
	background:#94d396;
	color:#fff;
	font-size:10px;
	font-family: "Lato",sans-serif;
	text-decoration:none;
	padding:4px;
	font-weight:bold;
}
/*-------responsive---------*/
@media only screen and (min-width:320px) and (max-width:480px)
{
	.fashion
	{
		width:100%;
	}
	.fashion_sec_three
	{
		width:100%;
	}
	.send input[type="button"]
	{
		float:none;
	}
	.member_sec_right
	{
		width:100%;
	}
	.sub_p p
	{
		display:none;
	}
	.banner_img p
	{
		display:none;
	}
	.banner_img h6
	{
		display:none;
	}
	.arrow_top_bar
	{
		width:85px;
		left:10px;
	}
	.input_search_top
	{
		width:100%;
		position:static;
	}
	.nav_bar_top .navbar-toggle
	{
		float:right;
	}
	.responsive_button
	{
		position:absolute;
		right:0;
		
	}
	.nav_bar_top {
    float: right;
}
.nav_bar_top ul
{
	background:#fff;
	z-index:99999;
}
.nav_bar_top li a
{
	font-size:11px;
	padding:5px;
}
.nav_bar_top li a:hover
{
	font-size:11px;
	padding:5px;
}
.top_nav
{
	z-index:0;
}
.add_to_ntebook a
{
	margin-bottom:50px;
}
.category.search
{
	width:100%;
}
}
@media only screen and (min-width:480px) and (max-width:640px)
{
	.fashion_sec_three
	{
		width:100%;
	}
	.author_sec h6
	{
		width:50%;
	}
	.keep input
	{
		width:38%;
	}
	.send input[type="button"]
	{
		float:none;
	}
	.send {
    margin: auto;
    text-align: center;
    width: 50%;
}
.sub_p p
	{
		display:none;
	}
	.banner_img p
	{
		display:none;
	}
	.banner_img h6
	{
		display:none;
	}
	.input_search_top
	{
		width:100%;
		position:static;
	}
	.nav_bar_top .navbar-toggle
	{
		float:left;
	}
	.nav_bar_top .navbar-toggle
	{
		float:right;
	}
	.responsive_button
	{
		position:absolute;
		right:0;
		
	}
	.nav_bar_top {
    float: right;
}
.nav_bar_top ul
{
	background:#fff;
	z-index:99999;
}
.nav_bar_top li a
{
	font-size:11px;
	padding:5px;
}
.nav_bar_top li a:hover
{
	font-size:11px;
	padding:5px;
}
.top_nav
{
	z-index:9999;
}
.arrow_top_bar {
    float: left;
    left: 19px;
    position: absolute;
    top: -38px;
    width: 85px;
    z-index: 99999;
}
.add_to_ntebook a
{
	margin-bottom:50px;
}
.detail_page_text
{
	width:97%;
}
.category.search
{
	width:100%;
}

}
@media only screen and (min-width:641px) and (max-width:1024px)
{
	.fashion_sec_three
	{
		width:31%;
	}
	.keep input
	{
		width:44%;
	}
	.send {
    margin: auto;
    text-align: center;
 
}
.send input[type="button"]
	{
		float:none;
	}
	.author_sec h6
	{
		width:41%;
	}
	.arrow_top_bar
	{
		width:12%;
		left:1%;
	}
	.input_search_top
	{
		position:static;
		width:100%;
	}
	.responsive_button
	{
		position:absolute;
		right:0;
		
	}
	.nav_bar_top {
    float: right;
}
.nav_bar_top ul
{
	background:#fff;
	z-index:99999;
}
.nav_bar_top li a
{
	font-size:13px;
	padding:5px;
}
.nav_bar_top li a:hover
{
	font-size:13px;
	padding:5px;
}
.top_nav
{
	z-index:0;
}
.events h6
{
	width:47%;
}
.add_to_ntebook a
{
	margin-bottom:55px;
}
.detail_page_text {
    float: left;
    text-align: left;
    width: 99%;
}
.category.search
{
	width:100%;
}

}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.events h6
	{
		width:16%;
	}
	.events span h6
	{
		width:10%;
	}
}
@media only screen and (min-width:800px) and (max-width:1280px)
{
	.arrow_top_bar
	{
		left:-24px;
		width:12%;
	}
}