<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="searchtext.length > 0">
        <div class="category search"><h1><span>Search results</span> {{searchtext}}</h1>
            <ul>
                <li><a href="#">SHOW</a></li>
                <li><a href="#">ARTICLES</a></li>
                <li><a href="#">MEMBERS</a></li>
                <li><a href="#">RESOURCES</a></li>
                <li><a href="#">ACCOMODATION</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="banner" ng-hide="searchtext.length > 0">
            <div class="banner_slider_sec">
                <img class="img-responsive" src="angular/images/banner.png" alt="">
                <div class="banner_img">
                    <h6>FASHION</h6>
                    <p>Lorem ipsum dolor 
                        sit amet, consectetur 
                        adipisicing</p>
                    <div class="sub_p"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...</p></div>
                </div>
            </div>
        </div>
        <!--end of banner-->
        <div class="article">
            <h1>LATEST ARTICLES</h1>


            <div ng-repeat="art in articles| filter:searchtext">

                <div ng-class="$index<=1 ? 'fashion' :'fashion_sec_three'">
                    <h6>{{art.article.category.type_name| uppercase}}</h6>
                    <!--img class="img-responsive" src="angular/images/{{art.article.image}}" alt=""-->    
                    <img class="img-responsive" src="angular/images/fashion_1.png" alt="">
                    <a href="#!/article/{{art.article.id}}"><h2>{{art.article.title}}</h2></a>
                    <h3>By {{art.article.modified_by.name| capitalize}}</h3>
                    <p>{{ art.article.description |htmlToPlaintext| limitTo: 100 }}{{art.article.description.length > 100 ? '...' : ''}}</p>
                </div>

                <div ng-if="$index % 3 == 1">
                    <div class="clearfix"></div>
                </div>    
            </div>

        </div>

    </div>

    <div class="col-lg-3 col-md-3">
        <div class="keep">
            <h1>Keep in touch</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            <input type="text" placeholder="your email">
            <div class="send">
                <input type="button" value="SEND"></div>
        </div>
        <!--end of keep-->
        <div class="events">
            <div class="events_sec">
                <h1>Events today</h1>
                <h6>NEW YORK</h6>
                <p>Lorem ipsum lor</p>
                <span><h6>PARIS</h6></span>
                <p>Dolor lorem ips</p>
                <span> <h6>DUBAI</h6></span>
                <p>Consecteur 
                    adipisicing elit, sed eiusmod tempor</p>
                <h6>NEW YORK</h6>
                <p>Lorem ipsum 
                    dolorr</p>
            </div>
        </div>
        <!--end of events-->
        <div class="member_right">
            <div class="member_sec_right">
                <h1>New members</h1>
                <ul>
                    <li><a href="#"><img src="angular/images/tumbnail.png" alt=""></a></li>
                    <li><a href="#"><img src="angular/images/tumbnail_1.png" alt=""></a></li>
                    <li><a href="#"><img src="angular/images/tumbnail_2.png" alt=""></a></li>
                    <li><a href="#"><img src="angular/images/tumbnail_3.png" alt=""></a></li>
                    <li><a href="#"><img src="angular/images/tumbnail_4.png" alt=""></a></li>
                    <li><a href="#"><img src="angular/images/tumbnail_5.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <!--end of event -->

        <div class="author">
            <div class="author_sec">
                <h1>Our authors</h1>
                <div class="author_sec_sub">
                    <h6>SAMNTHA CARTER</h6>
                    <img class="img-responsive" src="angular/images/EYE.png" alt=""> 
                    <h2>Lorem ipsum dolor</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Amet, concectour 
                        adipisicing lorem impsum</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Sed do eiusmod 
                        tempor</h2>
                    <h5>on 23 V 2015</h5>
                </div>
                <div class="author_sec_sub1">
                    <h6>SAMNTHA CARTER</h6>
                    <img class="img-responsive" src="angular/images/man.png" alt=""> 
                    <h2>Lorem ipsum dolor</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Amet, concectour 
                        adipisicing lorem impsum</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Sed do eiusmod 
                        tempor</h2>
                    <h5>on 23 V 2015</h5>
                </div>
                <div class="author_sec_sub2">
                    <h6>SAMNTHA CARTER</h6>
                    <img class="img-responsive" src="angular/images/EYE.png" alt=""> 
                    <h2>Lorem ipsum dolor</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Amet, concectour 
                        adipisicing lorem impsum</h2>
                    <h5>on 23 V 2015</h5>
                    <h2>Sed do eiusmod 
                        tempor</h2>
                    <h5>on 23 V 2015</h5>
                </div>
            </div>
        </div>
    </div>
</div> 


