/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 220px) 
and (max-width : 480px) {
	.mainHeader .navbar-brand{ width:50%;  padding:5px}
	.mainHeader .navbar-header{ position:relative}
	.navmenumain{ width:250px; background:#fff; position:absolute; top:70px; right:15px; 
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;}
	.navmenumain .navbar-nav > li > a{ color:#3b3b3b}
	.navmenumain .navbar-nav > li{ width:100%; margin:0}
	
	
	}
	@media only screen 
and (min-width : 481px) 
and (max-width : 767px) {
	.mainHeader .navbar-brand{ width:50%;  padding:5px}
	.navmenumain{ width:250px; background:#fff;  position:absolute; top:70px; right:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;}
	.navmenumain .navbar-nav > li > a{ color:#3b3b3b}
	.navmenumain .navbar-nav > li{ width:100%; margin:0}
	
	
	}
	
	@media only screen 
and (min-width : 768px) 
and (max-width : 991px) {
	
	.navmenumain{ width:250px; background:#fff;   position:absolute; top:70px; right:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;}
	.navmenumain .navbar-nav > li > a{ color:#3b3b3b}
	.navmenumain .navbar-nav > li{ width:100%; margin:0}
	
	
	}
@media (max-width: 991px) {
    .navbar-header {
        float: none; }
    .navbar-toggle {
        display: block; }
    .navbar-fixed-top .navbar-collapse, 
    .navbar-static-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px; }
    .navbar-collapse.collapse {
        display: none !important; }
        .navbar-collapse.collapse.in { 
        display: block!important; 
        margin-top: 0px; }
}


