@import url("font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,900,700,100italic,300italic,400italic,700italic,900italic|Montserrat:400,700);
/*-------
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
-------*/
body{font-family: 'Montserrat','Lato', sans-serif;}
p{ font-size:14px; line-height:22px; font-family: 'Lato', sans-serif;}
.wrapper{ width:100%; float:left;}
.homeheadermain{ width:100%; float:left; min-height:220px; 
background:url(../images/bookkeewithusbanner.jpg) no-repeat center center;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover; }

header.mainHeader{ width:100%; float:left; padding:10px 0;}
.navbar-header .navbar-brand img{ max-width:60%}
.navbar-header .navbar-brand{ padding:0 15px 0}
.navmenumain{ float:right; margin-top:25px; font-family: 'Montserrat', sans-serif; }
.navmenumain .navbar-nav > li{ margin:0 4px;}
.navmenumain .navbar-nav > li > a{ color:#fff; font-size:17px; line-height:25px; position:relative; padding:10px;  }
.navmenumain .nav > li > a:focus, .navmenumain .nav > li > a:hover{ background:none; }
.navmenumain .nav > li:hover > a:before { position:absolute; content:""; bottom:0; border-bottom:2px solid #fff; width:100%; left:0 }
.navmenumain .nav > li.active > a{ background:none; }
.navmenumain .nav > li.active > a:before { position:absolute; content:""; bottom:0; border-bottom:2px solid #fff; width:100%; left:0 }
.homeBannerText{ width:100%; float:left; padding:35px 0; text-align:center; min-height:420px;}
.homeBannerText1{ width:100%; float:left; text-align:center; font-size:52px; margin-top:25px; line-height:82px; font-weight:700; font-family: 'Lato', sans-serif; color:#fff; text-shadow:3px 3px 5px  rgba(0,0,0,0.6)}
.homeBannerText2{ width:auto; display:inline-block; padding:10px; margin:20px 5px 20px ; background:rgba(0,174,239,0.6); box-shadow:5px 6px 5px rgba(0,0,0,0.5); max-width:100%}
.homeBannerText2in{ width:100%; display:block;  font-size:26px; line-height:40px; text-align:left; color:#fff; font-weight:400; }
.homeBannerText2in span{ font-weight:700; color:#f1592a;  font-size:29px;}
.homeBannerText3{ width:auto; display:inline-block; padding:10px; margin:20px 0; background:rgba(255,255,255,0.6); box-shadow:5px 6px 5px rgba(0,0,0,0.5); max-width:100%}
.homeBannerText3in{ width:100%; display:block;  font-size:26px; line-height:40px; text-align:left; color:#3b3b3b; font-weight:400; }
.homeBannerText3in span{ font-weight:700; color:#f1592a;  font-size:29px;}

.homeBannerTextPhone{ width:auto; display:inline-block; padding:10px; margin:20px 0; font-size:28px; line-height:35px; text-align:center; color:#fff; background:#525252;}

.homeBannerTextPhone span{ color:#f1592a; padding:0 0 0 15px; }

.bookkeepServicetop{ width:100%; float:left; padding:30px 0; text-align:center}
h2.bookkeepServiceTitle{ width:100%; float:left; padding:10px 0; font-size:45px; line-height:52px; color:#333; text-align:center; margin:0; font-weight:600; font-family: 'Lato', sans-serif;}
.bookkeepServiceSubText{ width:100%; float:left; padding:15px 0; font-size:26px; line-height:36px; color:#787878; text-align:center; margin:0; font-style:italic; font-family: 'Lato', sans-serif;}

.bookkeepServiceabout{ width:100%; float:left; padding:10px 0; font-size:15px; line-height:22px; color:#B5B5B5; text-align:center; margin:0; font-family: 'Lato', sans-serif;}




.bookkeepServiceList{ width:100%; float:left; padding:30px 0; text-align:center}
.bookkeepServiceList h2.bookkeepServiceTitle{ width:100%; float:left; padding:10px 0; font-size:35px; line-height:42px; color:#333; text-align:center; margin:0; font-weight:600; font-family: 'Lato', sans-serif;}
.bookkeepServiceList h2.bookkeepServiceTitle span{color:#00aeef}
.bookkeepServiceList .bookkeepServiceSubText{ width:100%; float:left; padding:15px 0; font-size:23px; line-height:32px; color:#787878; text-align:center; margin:0; font-style:italic; font-family: 'Lato', sans-serif;}

.bookkeepServiceList .bookkeepServiceabout{ width:100%; float:left; padding:10px 0; font-size:15px; line-height:22px; color:#B5B5B5; text-align:center; margin:0; font-family: 'Lato', sans-serif;}
.bookkeepServiceSection{ width:100%; float:left;s}
.bookkeepServiceSec{ width:100%; float:left; overflow:hidden; padding:15px; position:relative; background:#f5f5f5; margin:15px 0;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px; }
.bookkeepServiceSecTitle{ width:100%; float:left; font-size:21px; font-weight:700; color:#3b3b3b; line-height:28px; margin-bottom:10px; }
.bookkeepServiceSecText{ width:100%; float:left; font-size:14px; line-height:22px; color:#3b3b3b; font-family: 'Lato', sans-serif; }
.bookkeepServiceSecLink{ width:100%; float:left; position:absolute;z-index:100; top:50%; left:0; margin-top:-15px;}
.bookkeepServiceSecLink a{ width:auto; display:inline-block;  text-decoration:none; padding:5px 10px; color:#fff; font-size:15px; line-height:20px; opacity:0; 
-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;
transform:scale(1.5);
-moz-transform:scale(1.5);
-webkit-transform:scale(1.5);
-o-transform:scale(1.5);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009ee8+1,00aeef+100 */
background: rgb(0,158,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,158,232,1) 1%, rgba(0,174,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,158,232,1)), color-stop(100%,rgba(0,174,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,158,232,1) 1%,rgba(0,174,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,158,232,1) 1%,rgba(0,174,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,158,232,1) 1%,rgba(0,174,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,158,232,1) 1%,rgba(0,174,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ee8', endColorstr='#00aeef',GradientType=0 ); /* IE6-9 */

border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;}

.bookkeepServiceSecBg{ width:100%; float:left; height:100%; position:absolute; top:0; left:0; z-index:99; background:rgba(0,0,0,0.6); opacity:0;
-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;}
.bookkeepServiceSec:hover .bookkeepServiceSecBg{ opacity:1;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;}
.bookkeepServiceSec:hover .bookkeepServiceSecLink a{ opacity:1;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transform:scale(1);
-moz-transform:scale(1);
-webkit-transform:scale(1);
-o-transform:scale(1);
}
.bookkeepServicebotBanner{ width:100%; float:left; padding:35px 0;  margin:15px 0;  min-height:250px;
background:url(../images/bookkeepServicebotBanner.jpg) no-repeat center center fixed;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover;}
.bookkeepServicebotBannerIn{ width:100%; padding:15px 0; font-size:30px; line-height:50px; color:#fff; text-align:center;}
.bookkeepServicebotBannerIn span{color:#f1592a;}
.bookkeepServicebotBannerIn span.bookkeepServicebotBannerIn2{ display:block; font-size:20px; line-height:35px; color:#fff  }

.bookkeepServiceEasysection{width:100%; float:left; padding:35px 0;  margin:15px 0;
}
.bookkeepServiceEasyText1{ width:100%; float:left; padding:10px 0; font-size:30px; line-height:40px; color:#333; text-align:center; margin:0; font-weight:600; font-family: 'Lato', sans-serif;}

.bookkeepServiceEasyText2{ width:100%; float:left; padding:10px 0; font-size:45px; line-height:52px; color:#333; text-align:center; margin:0; font-weight:600; font-family: 'Lato', sans-serif;}
.bookkeepServiceEasyText2 span{    color: #00aeef; }
.bookkeepServiceEasyText3{ width:100%; float:left; padding:15px 0; font-size:20px; line-height:30px; color:#787878; text-align:center; margin:0; font-style:italic; font-family: 'Lato', sans-serif;}
.bookkeepServiceEasyBg{width:100%; float:left; min-height:300px;
background:url(../images/bookkeepServicebotBanner.jpg) no-repeat center center fixed;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover;}
.bookkeepServiceStepSection{ width:100%; float:left; margin:25px 0; }

h2.bookkeepServiceTitle{ width:100%; float:left; padding:10px 0; font-size:35px; line-height:52px; color:#333; text-align:center; margin:0; font-weight:600; font-family: 'Lato', sans-serif; margin-bottom:20px}

.bookkeepServiceStepIn{width:100%; float:left; margin:20px 0; text-align:center; padding:15px 25px;}
.bookkeepServiceStepcount{ width:120px; height:120px; display:inline-block; background:#00aeef;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
font-size:50px; line-height:100px; border:10px solid #fff; color:#fff;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}
.bookkeepServiceStepTitle{ width:100%; float:left; padding:7px 0; font-size:25px; line-height:35px;}
.bookkeepServiceStepText{ width:100%; float:left; font-size:15px; line-height:24px;color:#8E8E8E; font-family: 'Lato', sans-serif; }
.bookkeepServiceStepIn:hover .bookkeepServiceStepcount{ 
box-shadow:5px 5px 6px rgba(0,0,0,0.2);
-moz-box-shadow:5px 5px 6px rgba(0,0,0,0.2);
-webkit-box-shadow:5px 5px 6px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transform:scale(1.1);
-moz-transform:scale(1.1);
-webkit-transform:scale(1.1);
-o-transform:scale(1.1	);}


footer.footermain{ width:100%; float:left;}
.footermainTop{ width:100%; float:left; background:#2F2F2F; padding:30px 0;}

.footermainBot{ background:#222222; width:100%; float:left; padding:15px 0; font-size:14px; color:#9F9F9F;line-height:25px;}
.footerTitle{ color: #fff; width:100%; float:left; line-height:30px;
    font-size: 15px;
    border-bottom:1px solid #e8e8e8;}
	.footercontent{ width:100%; float:left; padding:15px 0;}
	.footercontent ul{ width:100%; float:left; margin:0; padding:0;}
	.footercontent ul li{ width:100%; float:left; margin:0; padding:2px 0; list-style:none; font-size:14px;font-family: 'Lato', sans-serif; line-height:18px; color:#F5F5F5 }
	.footercontent ul li a{ color:#f5f5f5; text-decoration:none}
	.footercontent ul li span{ font-size:16px; padding-right:10px;}
	.footercontent ul.footersocial li span{ width:30px; height:30px; float:left; background:#f5f5f5; color:#3b3b3b; line-height:30px; text-align:center; padding:0;
	border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}
.footercontent ul.footersocial li { text-align:center}
.footercontent ul.footersocial li{ width:auto; float:left; margin-right:5px}

.mainHeader .navbar-toggle{ background:#00aeef}
.mainHeader .navbar-toggle .icon-bar{ background:#fff;}

.bookkeepServiceTestimonialsec{width:100%; float:left; margin:15px 0 0;
background:url(../images/testimonials1.jpg) no-repeat center center fixed;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover;
}

.bookkeepServiceTestiInM{ width:100%; float:left; padding:20px;}
.bookkeepServiceTestiIn{ width:100%; float:left; background:rgba(255,255,255,0.6); padding:10px 10%; text-align:center;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;}
.bookkeepServiceTestiImg{ width:110px; height:110px; display:inline-block; border:5px solid #00aeef; 
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}
.bookkeepServiceTestiImg img{ width:100px; height:100px;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%; }
.bookkeepServiceTestiUser{ width:100%; float:left; font-size:21px; font-weight:700; color:#3b3b3b; line-height:28px; margin-bottom:10px; }
.bookkeepServiceTestiText{ width:100%; float:left; font-size:14px; line-height:22px; color:#3b3b3b; font-family: 'Lato', sans-serif; }
.bookkeepServiceTestislider{ padding:0 35px 0}

.bookkeepServiceTestislider{position:relative;}
.testiarrow{ width:30px; height:30px; background:rgba(255,255,255,0.6); float:left; color:#3b3b3b; font-size:20px; text-align:center; position:absolute; top:50%; margin-top:-15px;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}
.testiarrow.next{ left:0;}
.testiarrow.prev{ right:0;}

/*---------------------*/
.innerheadermain{ width:100%; float:left; min-height:250px;
background:url(../images/signupbg.jpg) no-repeat center center;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover;
}
.innerBannerTitle{ width:100%; float:left;  padding:70px 0; text-align:center}
.innerBannerTitle h2{ padding:0 15px; display:inline-block; font-family: 'Montserrat','Lato', sans-serif; font-size:28px; line-height:36px; margin-bottom:0; color:#fff; position:relative;}
.innerBannerTitle h2:before{ width:50px; height:1px; float:left; content:""; background:#fff; margin:17px 10px 0 0; }
.innerBannerTitle h2:after{ width:50px; height:1px; float:right; content:""; background:#fff; margin:17px 0 0 10px; }
.breadcrumbs{ width:auto; display:inline-block; padding:10px 0; font-size:13px; line-height:20px; color:#fff;}
.breadcrumbs span{ font-size:14px; color:#fff; padding:0 5px;}
.breadcrumbs span.breadcrumbsArr{  color:#fff;  font-size:16px;}
.breadcrumbs span a{ color:#f1592a}
.bookkeepInnnerMain{ width:100%; float:left; padding:15px 0;}
h2.bookkeepinnertitle{font-size:26px; line-height:34px; color:#3b3b3b; margin:10px 0 20px; width:100%; display:block;}
.bookkeepformmain{ float:left; width:100%; float:left; padding:0 15px 15px;
border:1px solid #f1f1f1; border-radius:0 0 5px 5px ;
-webkit-border-radius:0 0 5px 5px ;
-moz-border-radius:0 0 5px 5px ;}
.bookkeepformset{ width:100%; float:left; padding:10px 0;}
.bookkeepformset label{ width:100%; display:block; font-weight:normal; font-size:13px; line-height:20px; color:#747474}
.bookkeepformset input[type='text']{ width:100%; display:block;font-size:13px; line-height:38px; padding:5px 10px; border:1px solid #e0e0e0; height:38px;
background:#fff;
box-shadow:1px 1px 1px rgba(0, 0, 0, 0.05) inset;
-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.05) inset;
-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.05) inset; color:#747474;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;}
.bookkeepformset input[type='submit']{ width:auto; float:left; padding:8px 18px; border:1px solid #CFCFCF; font-size:13px; line-height:20px;
 border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;}
a.linkdef{ color:#747474; padding:10px 5px; }

.bookkeepLoginInstr{ width:100%; float:left; background:#EBEBEB; padding:20px; margin:15px 0;
 border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;}

.bookkeepAskQuestionSection{ width:100%; float:left; padding:45px 0; text-align:center;
background:url(../images/bookkeepwithusask.jpg) no-repeat center center;
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
-ms-background-size: cover;}

.bookkeepAskQuesIcon{ width:100%; float:left; padding:10px 0;}
.bookkeepAskQuesIcon span{ width:100px; height:100px; border:1px solid #5aa1e3; display:inline-block; font-size:30px; line-height:100px; color:#5aa1e3;
	-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;
 border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}	
.bookkeepAskQuesIcon span:hover{ background:#5aa1e3; color:#fff;
	-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;
transform:scale(1.2);
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);}
.bookkeepAskQuesText1{ width:100%; float:left; padding:5px 0; font-size:28px; line-height:34px; text-align:center; color:#3b3b3b;}
.bookkeepAskQuesText2{ width:100%; float:left; padding:5px 0; font-size:28px; line-height:34px; text-align:center; color:#999999;}
.bookkeepAskQuesText3{ width:100%; float:left; padding:5px 0; font-size:14px; line-height:20px; text-align:center; color:#3b3b3b; font-family: 'Lato', sans-serif;}
.bookkeepformTab{ width:100%; float:left;  padding:10px 0 0;}
.bookkeepformTab ul{ width:100%; float:left; padding:0; margin:0; }
.bookkeepformTab ul li{ width:50%; float:left; padding:0; margin:0; font-size:24px; font-weight:bold; line-height:30px; text-align:center; list-style:none; }
.bookkeepformTab ul li a{ padding:8px 15px; width:100%; float:left; color:#3b3b3b; background:#f2f2f2;}
.bookkeepformTab ul li.active a{ background:#f1592a; color:#fff;}
.bookkeepformTab ul li:first-child a{border-radius:5px 0 0 0;
-moz-border-radius:5px 0 0 0;
-webkit-border-radius:5px 0 0 0;}
.bookkeepformTab ul li:last-child a{border-radius:0 5px 0 0;
-moz-border-radius:0 5px 0 0;
-webkit-border-radius:0 5px 0 0;}


.headermainNav.fixed{ position:fixed; background:rgba(255,255,255,0.8); z-index:9999}
.headermainNav{ width:100%; float:left;}

.headermainNav.fixed .navbar-header .navbar-brand img{ max-width:50%;}
.headermainNav.fixed .navbar-header .navbar-brand { top:-14px; position:relative}
.headermainNav.fixed .navmenumain .navbar-nav > li > a{ color:#3b3b3b;}
.navmenumain .nav > li.active > a:before { position:absolute; content:""; bottom:0; border-bottom:2px solid #3b3b3b; width:100%; left:0 }
.navmenumain .nav > li:hover > a:before { position:absolute; content:""; bottom:0; border-bottom:2px solid #3b3b3b; width:100%; left:0 }