<div class="container">
    <div class="col-lg-9 col-md-9 col-xs-12">
        <!--<div><input type="text" ng-model="searchtext" placeholder="search.."/></div>-->
        <div class="detail_heading" ng-repeat="article in articles| filter:searchtext" >
            <h1 ng-bind-html="article.title| highlight:searchtext">{{ article.title}}</h1>
            <h6><span>by</span> {{article.modified_by.name}} <span>on </span>{{ article.created_at}}</h6>
            <h5 ng-bind-html="article.type_name| highlight:searchtext">{{ article.category.type_name | uppercase}}</h5>
            <p ng-bind-html="article.description| highlight:$parent.searchtext">{{ article.description}}</p>
            <div class="detail_banner"><img class="img-responsive" src="angular/images/banner.png">
                <p>Fashion feast: The Grand Palais in Paris was transformed into an Indian dinner party for the Chanel Metiers d'Art show </p>
            </div>
        </div>

        <!--end of detail header-->

        <div class="post">
            <h1>There is 23 comments. <span>post</span></h1>

            <div class="main_comment_sec">
                <div class="comment_sec">
                    <div class="comment_dec_sub">
                        <div class="comment_img_sec"><img class="img-responsive" src="angular/images/comment_thumb.png"></div>
                        <div class="comment_detail_sec"><h1>ERICA SLOAN</h1>
                            <div class="tag_sec"><a href="#">NOTEBOOK</a> <a href="#">ADD TO FRIENDS</a> <a href="#">FALLOW</a></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                    <div class="date"><span>on</span>  MAY 23 2015 / 11.34 AM</div>
                    <div class="comment_reply"><a href="#">REPLY</a></div>
                </div>
            </div>

            <div class="main_comment_sec">
                <div class="comment_sec">
                    <div class="comment_dec_sub">
                        <div class="comment_img_sec"><img class="img-responsive" src="angular/images/comment_thumb.png"></div>
                        <div class="comment_detail_sec"><h1>ERICA SLOAN</h1>
                            <div class="tag_sec"><a href="#">NOTEBOOK</a> <a href="#">ADD TO FRIENDS</a> <a href="#">FALLOW</a></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                    <div class="date"><span>on</span>  MAY 23 2015 / 11.34 AM</div>
                    <div class="comment_reply"><a href="#">REPLY</a></div>
                </div>

                <div class="reply_sec">
                    <div class="comment_sec">
                        <div class="comment_dec_sub">
                            <div class="comment_img_sec"><img class="img-responsive" src="angular/images/comment_thumb.png"></div>
                            <div class="comment_detail_sec"><h1>ERICA SLOAN</h1>
                                <div class="tag_sec"><a href="#">NOTEBOOK</a> <a href="#">ADD TO FRIENDS</a> <a href="#">FALLOW</a></div>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>
                            </div>
                        </div>
                        <div class="date"><span>on</span>  MAY 23 2015 / 11.34 AM</div>
                        <div class="comment_reply"><a href="#">REPLY</a></div>
                    </div>
                </div>

            </div>

            <div class="main_comment_sec">
                <div class="comment_sec">
                    <div class="comment_dec_sub">
                        <div class="comment_img_sec"><img class="img-responsive" src="angular/images/comment_thumb.png"></div>
                        <div class="comment_detail_sec"><h1>ERICA SLOAN</h1>
                            <div class="tag_sec"><a href="#">NOTEBOOK</a> <a href="#">ADD TO FRIENDS</a> <a href="#">FALLOW</a></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                    <div class="date"><span>on</span>  MAY 23 2015 / 11.34 AM</div>
                    <div class="comment_reply"><a href="#">REPLY</a></div>
                </div>
            </div>

        </div>

        <div class="new_new_comment">
            <h1>POST A NEW COMMENT</h1>
            <div class="font_style"><a href="#">B</a><a href="#">B</a><a href="#">B</a></div>
            <div class="text_area"> <textarea></textarea></div>
            <div class="comment_reply"><a href="#">REPLY</a></div>
        </div>

    </div>
    <!--END OF POST-->

    <div class="col-lg-3 col-md-3">

        <div class="add_to_ntebook"><a href="#">ADD TO YOUR NOTEBOOK</a></div>






        <div class="author">
            <div class="author_sec">
                <h1>Top stories</h1>
                <div class="author_sec_sub">
                    <div class="detail_page_text"><h6>FASHION</h6></div>
                    <img class="img-responsive" src="angular/images/detail_img.png" alt=""> 
                    <div class="story">
                        <h2>Psum dolor sum</h2>
                        <h5>By Sidney Bristow</h5>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="author_sec_sub1">
                    <div class="detail_page_text"><h6>FASHION</h6></div>
                    <img class="img-responsive" src="angular/images/detail_img1.png" alt=""> 
                    <div class="story">
                        <h2>Consectetur sum
                            adipisicing elit, sed 
                            do tempor</h2>
                        <h5>By Sidney Bristow</h5>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="author_sec_sub2">
                    <h6>SAMNTHA CARTER</h6>
                    <img class="img-responsive" src="angular/images/detail_img2.png" alt=""> 
                    <div class="story">
                        <h2>Send do eiusmod 
                            tempor incididunt 
                            ut labored</h2>
                        <h5>By Sidney Bristow</h5>
                    </div>
                </div>

                <div class="author_sec_sub1">
                    <div class="detail_page_text"><h6>FASHION</h6></div>
                    <img class="img-responsive" src="angular/images/detail_img1.png" alt=""> 
                    <div class="story">
                        <h2>Consectetur sum
                            adipisicing elit, sed 
                            do tempor</h2>
                        <h5>By Sidney Bristow</h5>
                    </div>
                </div>

            </div>
        </div>
        <!--end of story sec-->

        <div class="latest">
            <div class="latest_sec">
                <h1>Lastest 
                    Discussions</h1>
                <div class="detail_page_text"><h6>FASHION</h6></div>
                <h2><span>IN</span> Psum dolor sum</h2>
                <h3><span>BY</span> SIDNEY BRISTOW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>


                <div class="detail_page_text"><h6>FASHION</h6></div>
                <h2><span>IN</span> Consectetur sum
                    adipisicing elit, sed 
                    do tempor</h2>
                <h3><span>BY</span> SIDNEY BRISTOW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>

                <div class="detail_page_text"><h6>FASHION</h6></div>
                <h2><span>IN</span> Psum dolor sum</h2>
                <h3><span>BY</span> SIDNEY BRISTOW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>

                <div class="detail_page_text"><h6>FASHION</h6></div>
                <h2><span>IN</span> Psum dolor sum</h2>
                <h3><span>BY</span> SIDNEY BRISTOW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>

                <div class="detail_page_text"><h6>FASHION</h6></div>
                <h2><span>IN</span>  Consectetur sum
                    adipisicing elit, sed 
                    do tempor</h2>
                <h3><span>BY</span> SIDNEY BRISTOW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>

            </div>
        </div>
    </div>

</div>
</div> 


