<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog log_in_pop_up" role="document">
 
    <div class="modal-content">
     <div class="log_in_pop_up_sub">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="login_sec">
        <input type="text" placeholder="login"/>
         <input type="password" placeholder="password"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary log_in_sen">SEND</button>
      </div>
    </div>
    <div class="log_in_pop_up_sub">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Not a member?
Sign up!</h4>
      </div>
      <div class="modal-body">
        <div class="login_sec">
        <input type="text" placeholder="login"/>
         <input type="password" placeholder="password"/>
         <input type="password" placeholder="password"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary log_in_sen">SEND</button>
       <div class="signup_fb"> <a href="#">SING UP WITH FACEBOOK</a></div>
      </div>
    </div>
    </div>
  </div>
</div>