<div class="container">
  <div class="col-lg-9 col-md-9 col-xs-12">
  <h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1><h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1><h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1><h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1><h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1><h1>sdkjhfkdhfgkjfshdgldshfkghdsfkjghsdfhglkdfshg</h1>
  </div>
  
  <div class="col-lg-3 col-md-3">
 this is the right content
  </div>
  </div> 